


    <div class="container">
       <div class="jumbotron">
    <h3 style="font-size: 2em; font-family:Helvetica, sans-serif; color:#ff9933; text-align: center; font-weight:bold">Your donation is what creates millionaires like you everyday</h3>
     <p style="text-align: center; font-size: 25px; color:#808080; font-family: Garamond, Tahoma, sans-serif;">Show your <strong>loyalty</strong> to Lotadik by donating whatever you can to keep the site running <a  href="https://cash.me/app/BBJDLPX" target="_blank"><strong>here</strong>.</a></p>
     </div>
     </div>


<%= render "layouts/footer" %>