
<div class=" container">
  <h2 class="address">How it works and what to do if you are a winner?</h2>
  <div class="row">
    <div class="col-md-6">
      <p class="tips">1. Choose your game. Get your numbers. Run down to your nearest store to play. And if you ever <strong>WIN</strong>, you can show your <strong>loyalty</strong> by donating <a href="https://cash.me/app/BBJDLPX", target="_blank"><strong>here</strong>.</a>
      </p>
     </div>

    <div class="col-md-6">
      <p class="tips">2. If you are a winner of a large sum of money, book a hotel room and spend a week there to think about how you will manage the funds once it deposits into your bank acoount. Do not quickly give out money to relatives or friends, help them start a business or invest in them for the long term. <strong>As your Robot's friend</strong>, the best thing i can suggest that you do is to <strong>fucking</strong> pay your tithe, debts, and most importantly invest in your community.</p>
    </div>
</div><br><hr>
<%= render "layouts/comments" %>

<%=  render "layouts/footer" %>