<div class="container">
    <div class="jumbotron one">
    	<span class="home_greeting"><%= @greeting.upcase! %></span><br>
      	<p class="fedup">Are you fed up of combining numbers together or asking the guy at the counter for 
      	a <strong>QUICKPICK</strong> to win the lotto everyday. Well, meet <strong>Lotadik</strong>, your robot's friend that can help you hit the <strong>JackPot</strong> within a month.</p>
    
        <div class="button"><a href="/games/games" onmousedown="sound.play()">BeRich</a>
          
         </div>
    	  
    	   	
    	   </div>
    </div>
</div>




<h2 class="address"><i class="fa fa-users" aria-hidden="true"></i> <%= @number_of_winners  %></h2>
  <p class="winners">Numer of people who use <strong>Lotadik</strong> everyday to choose their winning numbers for them.</p>

  <%= render "layouts/footer" %>



