<!-- Start of footer -->

  <div class="nav navbar-inverse navbar-fixed-bottom" role="navigation">
  <div class="container">

    <div class="navbar-text pull-left">
     <p> Copyright &copy;Lotadik-2016</p>
     </div>

     <div class="navbar-text pull-right">
         <a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
           <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
      </div>
  </div>
   </div>

   
  <!-- end of footer -->




