<div class="lotto_site">
            <span class="go_back"><i class="fa fa-arrow-circle-o-left fa-3x" aria-hidden="true"></i> <%= link_to "Back to Games", games_games_path %></span>
         	
   <h2 class="loto_site"><a href="http://www.flalottery.com/
   ", target="_blank">Did you play? Find out if you are a Millionaire here.</a></h2>
</div>